*{
margin: 0;
padding: 0;
box-sizing: border-box
}

body{
    background-color: rgb(241, 240, 240);
}

header{ 
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img{
    width: 170px;
    margin: -20px;
}
 
.menu{
    display: flex;
    gap: 20px;
    margin-left: 26px;
    margin-top: 15px;
    
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.kit-oversized{
width: 200px;
margin: 50px;
}

.sessao_kit_basico{
display: flex;
flex-direction: row;
height: 100vh;
margin-top: -150px ;



}




